# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table with Data Science tools
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C ++
7. Javascript
8. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. Vegas
8. BigDL
9. Ggplot

| Data Science Tools |
| ------------------ |
| Hadoop |
| Hive |
| Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

def minutes_to_hours(minutes):
    return (minutes / 60)

minutes_to_hours(200)

3.3333333333333335

## Author:
Maria Lujan Sosa Balsa